@import "../../App.scss";


.postProfileDiv{
   display: flex;    
    justify-content: center;
    flex-direction: column;
   
    @media screen and (min-width: 600px){
        display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: auto;
    }
}

