@import "../../App.scss";


.userCard{
@media screen and (max-width: 800px) {
display: flex;
flex-direction: row-reverse;
width: 100%;
overflow-x: scroll;

  
}
  }
  .getUsersDivContainer{
    padding: 2%;

    margin-top: 6%;
    @media screen and (min-width: 600px){
    margin-left: 20%;

      
    }
  }

  .searchUserContainer{
    margin-bottom: 27%;
    @media screen and (max-width: 800px){
      margin-bottom: 3%;
      
    }
  }
  