@import "../../App.scss";
@import "../../Colors.scss";


.userCardContainer {
  display: flex;
 flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;

  @media screen and (max-width: 11400px) and (min-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
  @media screen and (max-width: 800px) {
 width: 70vw;   
 display: flex;
 flex-direction: row;
 margin-bottom: 0px;
 margin-left: 25px;
 justify-content: space-between;

 }
}

.infoDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 11400px) and (min-width: 800px) {
    display: flex;
    text-align: center;
    
    }
@media screen and (max-width: 800px) {
  display: flex;
  align-items: center;
  flex-direction: row;  
  justify-content: center;
}
}

.imageUserCard {
  width: 65px;
  height: 65px;
  background: linear-gradient(295deg, rgb(140, 213, 245) 41%, rgb(236, 239, 163) 100%);
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profileImgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.textUserCard {
  display: flex;
  flex-direction: column;
}

.nameUserCard {
  font-weight: 800;
  font-size: 1em;
}

.usernameUserCard {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 0.8em;
}

.buttonsDivContainer {
  display: flex;
  align-items: center;
}

.followUserCard, .unfollowUserCard {
  text-align: center;
  width: 70px;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 15px;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
}

.followUserCard {
  background-color: $colorPrimario;
}

.followUserCard:hover {
  background-color: #2c3136;
  align-self: flex-end;
}

.unfollowUserCard {
  background-color: #c0c0c0;
  color: #140606;
  align-self: flex-end;
}

.moreUserCard {
  display: block;
  text-decoration: none;
  color: rgb(29, 155, 240);
  font-weight: 800;
  padding: 10px 15px;
}

.moreUserCard:hover {
  background-color: #b3b6b6;
  border-radius: 0 0 15px 15px;
}


.name {
  text-decoration: none;
}
