
  
  .formPost {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cardCreatePost {
    width: 100%;
  }
  
  .CreatePostDiv {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .custom-file-label {
    display: block;
    background-color: #1890ff;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .input-file {
    display: none;
  }
  
  button {
    background-color: #1890ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    &:hover {
      background-color: #40a9ff;
    }
  }
  
  /* Media query for small devices */
  @media (max-width: 768px) {
    .cardCreatePostContainer {
      max-width: 90%;
      padding: 15px;
    }
  
    .custom-file-label {
      padding: 8px;
    }
  
    button {
      padding: 8px 16px;
    }
  }
  