@import "../../App.scss";
.divHomeContainer {
  display: grid;
  grid-template-columns: 75% 15%;
  margin-left: 8%;
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 1%;
    ;
  }
}


.postsDivContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
