
.divNavContainer {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 2%;

  }
  
  @media screen and (max-width: 600px) {
    .divNavContainer {
      grid-template-columns: 100%;
    }
  }
  