@import "../../App.scss";

.userInfoContainer{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    

.userInfoDivContainer{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.userNameDiv{
    padding:2% 7%;
}

.userPostsDiv, .userFollowingDiv, .userFollowersDiv{
    @extend %displayCenter;
    flex-direction: column;
}


.profileImg{
    width: 80px;
    height:80px;
    border: 5px pink solid;
    object-fit: cover;
    border-radius: 50%;
}
}
.hidden-input {
    display: none;
  }
  