@import "../../App.scss";

.postsDivContainer{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    @media screen and (min-width: 600px){
      width: 80%;

    }


}

.inputSearchPostsDiv{
    display: flex;
    justify-content: center;
    ;
    @media screen and (min-width: 600px){
        margin-top: 2%;
          
      }
}
.postComponentContainer{
  margin-left: 32%;

}