@import "../../App.scss";

.containerPostCart {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px) {
    width: 100%;
    justify-self: center;
 
  }
}
.imgPostCard{
  width: 270px;
  height:150px;
  object-fit: cover;
  border-radius: 15px;
  @media screen and (min-width: 600px) {  width: 270px;
    height:300px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;

  }

}
.postCard {
  padding: 2% 0%;
  @extend %displayCenter;
  width: 400px;
  height:250px;
  justify-self: center;
  border-radius: 3px;
  margin-bottom: 3vh;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
  transition: 0.4s;



  @media screen and (min-width: 600px) {
    display: flex;
    min-width: 450px;
    min-height: 450px;
    justify-content: center;
    flex-basis: calc(25% - 2%); 
    margin: 20px; 
  }
}

.postCardBody {
  padding: 7% 0%;
  color: rgb(31, 31, 31);
  font-size: 15px;
  max-height: 240px;
  
}

.footerCard {
  width: 100%;
  float: right;
  font-size: 13px;
  color: #636363;
}

.by-name {
  font-weight: 700;
  ;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}
