@import "../../App.scss";
.containerPostCart{
  display:flex;
  flex-direction: column-reverse;
  align-items: center;

}
.card {
   padding: 2% 0%;
    @extend %displayCenter;
    width: 100vw;
    min-height: 20vh;
    border-radius: 3px;
    margin-bottom: 3vh;
    background: #ffdfdf96;
    box-shadow: 5px 5px 6px #dadada,
                 -5px -5px 6px #f6f6f6;
    transition: 0.4s;
  }

  

  .card-body {
    min-width: 90vw;
    padding: 3% 0%;
    color: rgb(31, 31, 31);
    font-size: 15px;
  }
  
  .footer {
    width: 100%;
    float: right;
    font-size: 13px;
    color: #636363;
  }
  
  .by-name {
    font-weight: 700;
  }

  .img {
    width:90VW ;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }